<h3>about me</h3>
<p>i am a librarian, leader, teacher, and activist working at the university of oregon. i support the integration of research technologies into scholarship, teaching, and learning. in my free time, i am an amateur calligrapher and gardener and enjoy spending time with my partner and two cats.</p>
<div>
    <h3 align="right">mastodon</h3>
    <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" align="right" width="400" height="400" src="https://mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fhcommons.social%2Fusers%2Flibrarifran&theme=dark&size=100&header=false&replies=true&boosts=true">
    </iframe>
  </div>