---
layout: archive
entries_layout: grid
author_profile: true
---

<script src="{{ '/assets/js/posts-nav.js' | relative_url }}"></script>

{{ content }}

<div class="taxonomy__wrapper">
  <div class="archive__nav">
    <button class="nav__item active" data-view="year">By Year</button>
    <button class="nav__item" data-view="category">By Category</button>
    <button class="nav__item" data-view="tag">By Tag</button>
  </div>

  <div class="taxonomy__index active" id="year-view">
    {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
    {% for year in postsInYear %}
      <div class="year-link">
        <a href="/posts/{{ year.name }}/">
          <h2>{{ year.name }}</h2>
          <span class="taxonomy__count">{{ year.items | size }} posts</span>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="taxonomy__index hidden" id="category-view">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
      <div class="category-link">
        <a href="/categories/{{ category[0] | slugify }}/">
          <h2>{{ category[0] }}</h2>
          <span class="taxonomy__count">{{ category[1].size }} posts</span>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="taxonomy__index hidden" id="tag-view">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <div class="tag-link">
        <a href="/tags/{{ tag[0] | slugify }}/">
          <h2>{{ tag[0] }}</h2>
          <span class="taxonomy__count">{{ tag[1].size }} posts</span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>